.next_section {
    position: relative;
    display: none;
    overflow: hidden;
}


/*滚动条 start*/

 ::-webkit-scrollbar {
    width: 5px;
    height: 4px;
    background-color: #F5F5F5;
}


/*定义滚动条轨道 内阴影+圆角*/

 ::-webkit-scrollbar-track {
    background: #fff;
}


/*定义滑块 内阴影+圆角*/

 ::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #F5F5F5;
}

 ::-webkit-scrollbar-thumb:hover {
    border-radius: 3px;
    background-color: #F5F5F5;
}


/* 第一屏 */

.section.next_pageone div {
    position: absolute;
}

.next_pageone #base_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../images/two/1_bg.png') no-repeat center center;
    background-size: 100% 100%;
}

#next_pageone_one {
    width: 100%;
    top: 50%;
    margin-top: -2rem;
    text-align: center;
    opacity: 0;
    animation-duration: 0.8s;
    /*animation-delay: 1s;          	*/
}

#next_pageone_one img {
    width: 5.18rem;
    height: 1.4rem;
}

#next_pageone_two {
    width: 100%;
    top: 50%;
    margin-top: -0.4rem;
    text-align: center;
    opacity: 0;
    animation-duration: 0.5s;
    animation-delay: 1.2s;
}

#next_pageone_two img {
    width: 4.86rem;
    height: 1.2rem;
}

#next_pageone_three {
    width: 100%;
    top: 50%;
    margin-left: 0.4rem;
    margin-top: 1.0rem;
    text-align: center;
    opacity: 0;
    animation-duration: 0.4s;
    animation-delay: 2.2s;
}

#next_pageone_three img {
    width: 4.47rem;
    height: 1.34rem;
}

#next_pageone_four {
    width: 100%;
    top: 50%;
    margin-left: -0.4rem;
    margin-top: -1.0rem;
    text-align: center;
    opacity: 0;
    animation-duration: 0.8s;
    /*animation-delay: 1s;*/
    /*animation-iteration-count: infinite;*/
}

#next_pageone_four img {
    width: 6.4rem;
    height: auto;
}


/* 第2屏 */

#next_pagetwo-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../images/two/1_bg.png') no-repeat center center;
    background-size: 100% 100%;
}

#next_two-one {
    position: absolute;
    left: 50%;
    top: 3.2rem;
    margin-left: -0.7rem;
    text-align: center;
    animation-duration: 0.8s;
    opacity: 0;
    /* animation-duration: 4s; */
}

#next_two-two {
    position: absolute;
    left: 50%;
    top: 4rem;
    margin-left: -1.5rem;
    text-align: center;
    animation-duration: 0.8s;
    animation-delay: 1.2s;
    opacity: 0;
    /* animation-duration: 4s; */
}

#next_two-three {
    position: absolute;
    left: 50%;
    top: 5rem;
    margin-left: -0.98rem;
    text-align: center;
    animation-duration: 0.8s;
    animation-delay: 2.2s;
    opacity: 0;
    /* animation-duration: 4s; */
}

#next_two-four {
    position: absolute;
    left: 50%;
    top: 3rem;
    margin-left: -3.2rem;
    text-align: center;
    animation-duration: 0.8s;
    /*animation-delay: 3.2s;*/
    opacity: 0;
    /* animation-duration: 4s; */
}

#next_two-one img {
    width: 1.66rem;
    height: 0.81rem;
}

#next_two-two img {
    width: 3.2rem;
    height: 0.51rem;
}

#next_two-three img {
    width: 2.14rem;
    height: 0.49rem;
}

#next_two-four img {
    width: 6.4rem;
    height: 4.7rem;
}


/* 第3屏 */

#next_pagethree-bg-one {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:#000;
}
#next_pagethree-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: #000;
    opacity: 0;
    animation-duration: 0.5s;
    animation-delay: 0.8s;
}
#next_pagethree-bg img{
    margin:0 auto;
    width: 100%;
}

#next_three-one {
    position: absolute;
    left: 50%;
    top: 3.2rem;
    margin-left: -1.6rem;
    text-align: center;
    animation-duration: 0.5s;
    opacity: 0;
    animation-delay: 1.6s;
	/* animation-duration: 4s; */
}

#next_three-two {
    position: absolute;
    left: 50%;
    top: 5rem;
    margin-left: -1.5rem;
    text-align: center;
    animation-duration: 0.5s;
    animation-delay: 2.2s;
     opacity: 0;
	/*animation-duration: 4s; */
}

#next_three-one img {
    width: 4.77rem;
    height: 2.96rem;
}

#next_three-two img {
    width: 3.26rem;
    height: 1.87rem;
}


/* 第4屏 */

#next_pagefour-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../images/two/4bg.png') no-repeat center center;
    background-size: 100% 100%;
}

#next_four-one {
    position: absolute;
    left: 50%;
    top: 1rem;
    text-align: center;
    margin-left: -2.5rem;
    animation-duration: 0.8s;
    opacity: 0;
    /* nimation-duration: 4s; */
}

#next_four-two {
    position: absolute;
    left: 50%;
    top: 2.5rem;
    text-align: center;
    margin-left: -2.5rem;
    animation-duration: 0.8s;
    animation-delay: 1s;
    opacity: 0;
    /* animation-duration: 4s; */
}

#next_four-three {
    position: absolute;
    left: 50%;
    top: 5.5rem;
    text-align: center;
    margin-left: -2.5rem;
    animation-duration: 0.8s;
    animation-delay: 2s;
    opacity: 0;
    /* animation-duration: 4s; */
}

#next_four-four {
    position: absolute;
    left: 50%;
    top: 5.7rem;
    text-align: center;
    margin-left: -2.5rem;
    animation-duration: 0.8s;
    animation-delay: 3s;
    opacity: 0;
    /* animation-duration: 4s; */
}

#next_four-five {
    position: absolute;
    left: 50%;
    bottom: 0rem;
    margin-left: -3.17rem;
    text-align: center;
    animation-duration: 0.8s;
    animation-delay: 4s;
    opacity: 0;
    /* animation-duration: 4s; */
}

#next_four-one img {
    width: 4.5rem;
    height: 1.95rem;
}

#next_four-two img {
    width: 3.88rem;
    height: 4.43rem;
}

#next_four-three img {
    width: 5.47rem;
    height: 1.19rem;
}

#next_four-four img {
    width: 4.84rem;
    height: 3.87rem;
}

#next_four-five img {
    width: 6.34rem;
    height: 5.91rem;
}


/* 第10、11屏 */

#next_pageten-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../images/two/10_bg.png') no-repeat center center;
    background-size: 100% 100%;
}

#next_ten-one {
    position: absolute;
    left: 0;
    top: 0.8rem;
    width: 100%;
    text-align: center;
    animation-duration: 1s;
    animation-delay: 1.2s;
    opacity: 0;
    /* animation-duration: 4s; */
}

#next_ten-two {
    position: absolute;
    left: 0;
    top: 2.8rem;
    width: 100%;
    text-align: center;
    animation-duration: 1s;
    /* opacity: 0;
	animation-duration: 4s; */
}

#next_ten-three {
    position: absolute;
    right: 0;
    bottom: 0rem;
    width: 100%;
    text-align: center;
    animation-duration: 1s;
    animation-delay: 3.2s;
    /* opacity: 0;
	animation-duration: 4s; */
}

#next_ten-four {
    position: absolute;
    top: 0;
    left: 0rem;
    width: 100%;
    text-align: center;
    animation-duration: 1s;
    animation-delay: 2.2s;
    /* opacity: 0;
	animation-duration: 4s; */
}

#next_ten-five {
    position: absolute;
    bottom: -4.9rem;
    left: 50%;
    width: 90%;
    margin-left: -45%;
    text-align: center;
    display: none;
    /* opacity: 0;
	animation-duration: 4s; */
}

#next_ten-one img {
    width: 6.4rem;
    height: 5.67rem;
}

#next_ten-two img {
    width: 4.04rem;
    height: 1.87rem;
}

#next_ten-three img {
    width: 6.4rem;
    height: 4.67rem;
}

#next_ten-four img {
    width: 6.4rem;
    height: 8.21rem;
}


/*左右结构的图片*/

#item_box {
    height: 4.20rem;
    overflow: hidden;
    overflow-y: scroll;
}

#item {
    background: #fff;
    position: relative;
}

#item_left {
    width: 0.7rem;
    height: 0.7rem;
    border: 1px solid #d9d9d9;
    border-radius: 100px;
}

#item_left img {
    width: 100%;
    height: 100%;
    border-radius: 100px;
}

.p2,
.p1,
.p3 {
    font-size: 0.3rem;
    padding-left: 10px;
}

.p3 {
    text-align: right;
}

.p1 {
    color: #00a0ea;
}

#item_right {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
}

#in_box {
    border-bottom: 1px solid #d9d9d9;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.2rem;
    box-sizing: border-box;
    flex-direction: row;
}

#main_box {
    position: relative;
    text-align: left;
    background: #f4f4f4;
    font-size: 0.36rem;
    font-family: "微软雅黑";
    height: 4.9rem;
}

.top_p {
    color: #60afb4;
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 30px;
}

#Btn {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 0.7rem;
}

.ipt {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
    border: 1px solid #00a0ea;
    font-family: "微软雅黑";
    font-family: 0.18rem;
    color: #212121;
    padding-left: 10px;
}

#send {
    display: inline-block;
    padding: 10px;
    text-align: center;
    padding: 0.1rem;
    background: #00a0ea;
    color: #fff;
}


/* 第9屏 */

#next_pagenine-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../images/two/1_bg.png') no-repeat center center;
    background-size: 100% 100%;
}

#next_nine-one {
    position: absolute;
    left: 50%;
    top: 1.5rem;
    margin-left: -2rem;
    text-align: center;
    animation-duration: 1s;
    /* animation-delay: 1.2s;    */
    opacity: 0;
    /*animation-duration: 4s; */
}

#next_nine-two {
    position: absolute;
    left: 50%;
    top: 2.6rem;
    margin-left: -2.2rem;
    text-align: center;
    animation-duration: 1s;
    /*animation-delay: 1.2s;*/
    opacity: 0;
    /*animation-duration: 4s; */
}

#next_nine-three {
    position: absolute;
    left: 50%;
    top: 3.2rem;
    margin-left: -1.5rem;
    text-align: center;
    animation-duration: 1s;
    /*animation-delay: 2.2s;*/
    opacity: 0;
    /* animation-duration: 4s; */
}

#next_nine-four {
    position: absolute;
    left: 50%;
    top: 6rem;
    margin-left: -3rem;
    text-align: center;
    animation-duration: 1s;
    /*animation-delay: 3.2s;*/
    opacity: 0;
    /* animation-duration: 4s; */
}

#next_nine-five {
    position: absolute;
    top: 2rem;
    left: 50%;
    margin-left: -3rem;
    text-align: center;
    animation-duration: 1s;
    /*animation-delay: 4.5s;*/
    opacity: 0;
    /* animation-duration: 4s; */
}

#next_nine-one img {
    width: 3.77rem;
    height: 0.51rem;
}

#next_nine-two img {
    width: 4.43rem;
    height: 0.88rem;
}

#next_nine-three img {
    width: 2.91rem;
    height: 0.51rem;
}

#next_nine-four img {
    width: 6.09rem;
    height: 3.15rem;
}

#next_nine-five img {
    width: 6.4rem;
    height: 8.85rem;
}


/* 第5屏*/

#next_pagefive-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../images/two/5_bg.png') no-repeat center center;
    background-size: 100% 100%;
}

.next_pagefive #next_five-one {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -5.3rem;
    width: 100%;
    text-align: center;
    animation-duration: 2s;
    opacity: 0.5;
}

#next_five-one img {
    width: 50%;
    height: 50%;
}

.next_pagefive #next_five-one.rotateIn img {
    width: 5.58rem;
    height: 5.48rem;
    opacity: 1;
}

#next_five-two {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: 0.4rem;
    width: 100%;
    text-align: center;
    animation-duration: 1s;
    opacity: 0;
}

#next_five-two img {
    width: 2.17rem;
    height: 1.23rem;
}

#next_five-three {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    margin-top: 1.7rem;
    text-align: center;
    animation-duration: 1s;
    opacity: 0;
}

#next_five-three img {
    width: 2.41rem;
    height: 0.86rem;
}

#next_five-four {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: 2.9rem;
    width: 100%;
    text-align: center;
    animation-duration: 1s;
    opacity: 0;
}

#next_five-four img {
    width: 3.67rem;
    height: 0.9rem;
}


/* 第6屏 */

#next_pagesix-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../images/two/6_bg.png') no-repeat center center;
    background-size: 100% 100%;
}

.next_pagesix #next_six-one {
    position: absolute;
    left: 50%;
    top: 0.5rem;
    margin-left: -2rem;
    text-align: center;
    animation-duration: 1s;
    opacity: 0;
}

.next_pagesix #next_six-two {
    position: absolute;
    left: 50%;
    top: 1.6rem;
    margin-left: -3rem;
    text-align: center;
    animation-duration: 1s;
    /*animation-delay: 1.2s;*/
    opacity: 0;
}

.next_pagesix #next_six-three {
    position: absolute;
    left: 50%;
    top: 2.8rem;
    margin-left: -3rem;
    text-align: center;
    animation-duration: 1s;
    /*animation-delay: 2.2s;*/
    opacity: 0;
}

.next_pagesix #next_six-four {
    position: absolute;
    left: 50%;
    top: 5rem;
    margin-left: -3rem;
    text-align: center;
    animation-duration: 1s;
    /*animation-delay: 4.2s;*/
    opacity: 0;
}

.next_pagesix #next_six-five {
    position: absolute;
    top: 0rem;
    left: 0rem;
    text-align: center;
    animation-duration: 1s;
    /*animation-delay: 5.2s;*/
    opacity: 0;
}

.next_pagesix #next_six-one img {
    width: 2.28rem;
    height: 0.69rem;
}

.next_pagesix #next_six-two img {
    width: 6.4rem;
    height: 3.48rem;
}

.next_pagesix #next_six-three img {
    width: 5.12rem;
    height: 4.55rem;
}

.next_pagesix #next_six-four img {
    width: 6.4rem;
    height: 3.97rem;
}

.next_pagesix #next_six-five img {
    width: 6.11rem;
    height: 8.23rem;
}


/* 第8屏 */

#next_pageeight-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../images/two/8bg.png') no-repeat center center;
    background-size: 100% 100%;
}

#next_eight-one {
    position: absolute;
    left: 50%;
    top: 1.3rem;
    margin-left: -2.6rem;
    text-align: center;
    animation-duration: 1s;
    opacity: 0;
    /*animation-duration: 4s; */
}

#next_eight-two {
    position: absolute;
    left: 50%;
    top: 1.8rem;
    margin-left: -3rem;
    text-align: center;
    animation-duration: 1s;
    /*animation-delay: 1.2s;*/
    opacity: 0;
    /* animation-duration: 4s; */
}

#next_eight-three {
    position: absolute;
    left: 50%;
    top: 4.3rem;
    margin-left: -3.2rem;
    text-align: center;
    animation-duration: 1s;
    /*animation-delay: 3.2s;*/
    opacity: 0;
    /* animation-duration: 4s; */
}

#next_eight-four {
    position: absolute;
    left: 50%;
    top: 6.0rem;
    text-align: center;
    margin-left: -2.5rem;
    animation-duration: 1s;
    /*animation-delay: 4.2s;*/
    opacity: 0;
    /* animation-duration: 4s; */
}

#next_eight-one img {
    width: 2.55rem;
    height: 1.96rem;
}

#next_eight-two img {
    width: 4.05rem;
    height: 1.82rem;
}

#next_eight-three img {
    width: 6.4rem;
    height: 1.98rem;
}

#next_eight-four img {
    width: 5.42rem;
    height: 3.12rem;
}


/* 第7屏 */

#next_pageseven-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../images/two/7bg.png') no-repeat center center;
    background-size: 100% 100%;
}

#next_seven-one {
    position: absolute;
    left: 50%;
    top: 2.3rem;
    margin-left: -1.6rem;
    text-align: center;
    animation-duration: 1s;
    opacity: 0;
    /* animation-duration: 4s; */
}

#next_seven-two {
    position: absolute;
    left: 50%;
    top: 4.8rem;
    margin-left: -1rem;
    text-align: center;
    animation-duration: 1s;
    animation-delay: 1.5s;
    opacity: 0;
    /* animation-duration: 4s; */
}

#next_seven-three {
    position: absolute;
    left: 50%;
    top: 5.8rem;
    margin-left: -1.5rem;
    text-align: center;
    animation-duration: 1s;
    animation-delay: 2.5s;
    opacity: 0;
    /* animation-duration: 4s; */
}

#next_seven-four {
    position: absolute;
    left: 0%;
    top: 0rem;
    width: 100%;
    text-align: center;
    opacity: 0;
    /* animation-duration: 4s; */
}

#next_seven-one img {
    width: 3.28rem;
    height: 1.97rem;
}

#next_seven-two img {
    width: 2.76rem;
    height: 1.29rem;
}

#next_seven-three img {
    width: 4.69rem;
    height: 2.84rem;
}

#next_seven-three img {
    width: 4.69rem;
    height: 2.84rem;
}

.opacity-class {
    opacity: 1!important;
}